* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
}

body {
    background: #ffffff;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    background-color: #ff0000cf;
    
}

.logo {
    font-size: 45px;
    font-weight:bolder;
    color: rgb(0, 0, 0);
}

.logo span {
    color: #ffffff;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 51px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.hire-btn {
    background: #000000;
    padding: 18px 35px;
    border-radius: 5px;
    font-weight: bold;
}
